@using Resource = OJS.Web.App_GlobalResources.Areas.Administration.Problems.Views.ProblemsMove
@model OJS.Web.Areas.Administration.ViewModels.Problem.MoveProblemViewModel


<h2>@ViewBag.Title</h2>

@Html.Partial("_MoveProblemPartial", Model)

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}