@model OJS.Web.Areas.Users.ViewModels.Teams.TeamApplicationViewModel

<tr>
    <td>@Html.DisplayFor(x => x.Id)</td>
    <td>@Html.DisplayFor(x => x.TeamName)</td>
    <td>@Html.DisplayFor(x => x.Status)</td>
</tr>